<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
<tr>
    <th>IDNO</th>
    <th>NAME</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>IMAGE</th>
</tr>
{% for x in im %}
    <tr>
    <td>{{ x.Idno }}</td>
    <td>{{ x.Name }}</td>
    <td>{{ x.Price }}</td>
    <td>{{ x.Quantity }}</td>
    <td><img src="{{ x.Image.url }}"></td>
    <td> <a href="/choose/?type={{ x.Idno }}">choose</a></td>
    </tr>
{% endfor %}

</table>
</body>
</html>